<%= render "partials/navbar" %>

<div class="wrapper read">
    <div class="author-wrapper read-item">
        <img src="<%= Identicon.data_url_for @article.user.email %>" alt="" />
        <div class="author-details">
            <%= @article.user.email %>
        </div>
    </div>

    

    <div id="content" class="read-item">
    </div>

    <ul>
        <% if current_user %>
            <%= form_with model: [@article, Comment.new], class: "top" do |f| %>
                <%= f.text_area :content, placeholder: "Add a Reply", class: "main-comment" %>
                <div class="bar">
                    <%= f.submit "Reply",  class: "form-btn" %>
                </div>
            <% end %>
        <% end %>

        <%= render partial: "/partials/comment", collection: @article.comments, as: :comment, 
        locals: {author: @article.user.username } %>
    </ul>
</div>

<script>
    var content = <%= raw @article.content %>
</script>

<%= javascript_include_tag 'show' %>
