<li>
  <div class="comment-wrapper">
      <img src="<%= Identicon.data_url_for comment.user.email %>" alt="" />
      <div class="content">
        <div class="byline">
          <b ><%= comment.user.username %></b> 
          <span style="color: #9F9F9F;"> <%= distance_of_time_in_words(comment.updated_at, Time.now) %> ago </span>
        </div>
        <div class="comment-body" data-id="<%= comment.id %>">
          <%= simple_format comment.content %>
        </div>
        <div class="comment-edit" data-id="<%= comment.id %>">
          <%= form_with model: comment, url: comment_path(comment), method: "patch" do |f| %>
            <%= f.text_area :content, placeholder: "Edit comment...", class: "main-comment", value: comment.content %>
              <div class="bar">
                  <button class="cancel form-btn" data-id="<%= comment.id %>">Cancel</button>
                  <%= f.submit "Reply",  class: "form-btn" %>
                  
              </div>
          <% end %>
        </div>
        <div class="actions">
          <div class="action under" data-type="reply" data-id="<%= comment.id %>">
            Reply
          </div>
          <% if current_user && current_user.username == author %>
            <div class="action under" data-type="edit" data-id="<%= comment.id %>">
              Edit
            </div>
            <div class="action under" data-type="delete" data-id="<%= comment.id %>">
              Delete
            </div>
          <% end %>
        </div>

         <div class="reply" data-id="<%= comment.id %>">
          <%= form_with model: [comment, Comment.new] do |f| %>
              <%= f.text_area :content, placeholder: "Add a Reply", class: "main-comment" %>
              <div class="bar">
                  <%= f.submit "Reply",  class: "form-btn" %>
              </div>
          <% end %>
        <div>

      </div>
  </div>


  <ul>
      <%= render partial: "/partials/comment", collection: comment.comments, as: :comment, locals: {author: author} %>
  </ul>

</li>