<div class="navbar-wrapper wrapper">
    <div class="navbar">
        <div class="logo-wrapper route" data-path="/">
            <span class="logo">Writr</span>
            <span class="logo-mobile">W</span>
        </div>
         
        <div class="link-wrapper">
            <% if @publishable %>
                <div class="btn green publish">
                    Publish
                </div>
            <% end %>

            <%= image_tag("search.svg", :alt => "search", :class => "link route", :data => { :path => "/search"} ) %>
            <% if user_signed_in? %>
                <%= image_tag("bell.svg", :alt => "notif", :class => "link route", :data => { :path => "/notifications"} ) %>
                <div class="new btn link route" data-path="/articles/new">
                    New
                </div>

                <div class="dropdown">
                    <div class="avatar">
                         <img src="<%= Identicon.data_url_for current_user.email %>" alt="" />
                    </div>
                    <div class="dropdown-content-wrapper">
                    <div class="dropdown-content">
                        <div class="section-profile">
                                <div class="profile-avatar">
                                    <img src="<%= Identicon.data_url_for current_user.email %>" alt="" />
                                </div>
                            <div class="profile-name">
                                <p>
                                    Name
                                </p>
                                <p>
                                    @<%= current_user.email.match(/^[^@]*/i) %>
                                </p>
                            </div>
                        </div>
                        <div class="routes">
                        <div class="divide"></div>
                        <p class="logout route hover" style="color: #029e74;">Logout</p>
                        <div class="divide"></div>
                        <p class="route hover" data-path="/articles/new">New Article</p>
                        <p class="route hover" data-path="/me/articles">Articles</p>
                        <p class="route hover" data-path="/me/stats">Stats</p>
                        <div class="divide"></div>
                        <p class="hover">Getting Stated</p>
                        <div class="divide"></div>
                        <p class="route hover" data-path="/profile">Profile</p>
                        <p class="hover">Settings</p>
                        <p class="hover">Help</p>
                        </div>
                    </div>
                    </div>
                </div>
            <% else %>
                <div class="green btn link route" data-path="/login">
                    Login
                </div>
                <div class="green border btn link route" data-path="/register">
                    Sign up
                </div>
            <% end %>

        </div>
    </div>
</div>

<div class="publish-wrapper">
    <div class="publish-top">
        <h1>
        Publish Article
        </h1>
        <div class="publish-close btn">
        Cancel
    </div>
    </div>
    

    <div class="publish-content">
        <div class="col">
            <div class="publish-image" data-default="<%= image_path('writr.svg') %>">
            </div>

            <h4>Preview Image</h4>
            
        </div>
        <div class="col meta">
            <p>
                Add tags to make it easier to find you article
            </p>
            <div class="input-group">
                <input name='tags' class="input-border" contenteditable="true" placeholder="Add tags..."/>
                <h4>HINT: Press enter after typing to add tag</h4>
                <div class="input publish-title" contenteditable="true" placeholder="Preview title..."></div>

                <div class="input publish-subtitle" contenteditable="true" placeholder="Preview subtitle..."></div>
            </div>

            <div class="btn solid publish-submit">
                Publish
            </div>
        </div>

    </div>
</div>