<%= render "partials/navbar" %>

<div class="wrapper view">
    <% @articles.each do |article| %>
        <div class="small-article">
                <img src="https://images.unsplash.com/photo-1517694712202-14dd9538aa97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=80" alt="" />
                <h3 class="small-title"><%= article.title %></h1>
                <h4 class="small-subtitle"><%= article.subtitle %></h4>
                <div class="author-wrapper">
                    <img src="<%= Identicon.data_url_for article.user.email %>" alt="" />
                    <div class="author-details">
                        <%= article.user.email %>
                    </div>
                </div>
        </div>
    <% end %>
</div>